.container {
    display: flex;
    flex-direction: column;
    /* margin-top: -30px;
    margin-bottom: -15px; */
}

.spanEye {
    position: relative;
    right: -90%;
    top: 42px;
    cursor: pointer;
    width: 0;
}