body {
  background-color: var(--navy);
}

.containerLogin {
  background-image: url("./../../assets/images/LogoQueen30.png");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 480px;
  height: 100vh;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.form{
  text-align: center;
}

.containerImg{
  display: flex;
  justify-content: center;
}

.imgTittle{
  max-height: 160px;
}

.hiperlink{
  color: var(--off-white);
}
