body {
  background-color: #1a3042;
}

.containerRegister {
  background-image: url("./../../assets/images/LogoQueen30.png");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.containerImg{
  height: 50vh;
  width: 80%;
  display: flex;
  justify-content: center;
}

.imgTittle{
  height: 50vh;
  width: auto;
}

.form{
  width: 80%;
  text-align: center;
}

.hiperlink{
  color: var(--off-white);
}